/* Hi my name is Kenneth and I hope you are having a good day :) */
@font-face {
  font-family: 'Roboto';
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
}

@media screen and (max-width: 960px) {
  body {
    background-color: blue;
  }
}

.menu {
  background-color: blue;
  font-family: 'Roboto', sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  align-content: center;
}

.box {
  border-radius: 5px;
  padding: 20px;
}

#main-content {
  background-color: rgb(255, 140, 0);
}

* {
  background-color: #92b8d2;
}

p {
  background-color: hsl(80, 42%, 50%);
  height: 0.5in;
  width: 1in;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  line-height: 2em;
}

div {
  background-color: hsl(80, 42%, 50%);
  height: 0.5in;
  width: 1in;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right; 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 2.5em;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

input[type=text] {
  width: 25mm;
}

aside::after {
  content: ":-)";
}

h1, h2 {
  margin: auto;
  border-style: solid;
  border-color: black;
  border-width: thin;
  border-radius: 20px;
  color: coral;
  text-align: center;
  text-decoration: underline;
  font-size: 1.5em;
}

div p {
  display: inline;
}

ul > li {
  display: block;
}

ol + li {
  max-width: 90%;
}

h3 ~ p {
  position: relative;
}

nav.menu {
  position: static;
  min-width: 10%;
}
